* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.maincontainer0{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.maincontainer1 {
  display: flex;
  flex-direction: column;
 align-items: center;
  height: 400px;
  width: 1000px;
  background-color:#ececec;
margin-top: 10%;
border: 1px solid #000000;

}/*# sourceMappingURL=style.css.map */

.title{
  margin:3% 0 0 -20%;
  display: flex;
  flex-direction: column;
  
   

}
.inputxt{

  display: flex;
  flex-direction: column;
}

.linea{

width: 700px;

}

.addtsk{
display: flex;
flex-direction: row;

}

.btnadd{
margin-top: 6%;
height: 30px;
width: 70px;
background-color: #1a7643;
color: #ececec;
border-radius: 5px;

}

.tarea{
width: 400px;

}

.resultado{

display: flex;
flex-direction: row;
align-items: flex-start;
margin-top: 4%;
/* margin-left: -800px; */

}

.status{

display: flex;
flex-direction: column;
justify-content: left;
margin-left: -100px;

}

.modify{
 margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: -1%;
  margin-left: 300px;

}

.id,
.task,
.chkbx,
.delete{

display: flex;
flex-direction: column;

}
/* .close {
  background-color: #1a7643;
  color: red;
  width: 32px;
  height: 32px;
  opacity: 0.7;
} */
